<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Flight Hello World</title>
    
</head>
<body>
    flight.html<br />

    <h1>h1 element - click me!</h1>
    <h2>h2 element</h2>
    
    <!--[if lt IE 9]>
    <script src="/js/lib/es5-shim.min.js"></script>
    <script src="/js/lib/es5-sham.min.js"></script>
    <![endif]-->
    <script src="../Content/flight/lib/jquery.min.js" ></script>
    <script src="../Content/flight/lib/flight.js" ></script>
    <!--<script src="js/main.js"></script>-->
    <script src="../Content/flight/helloWorld.js"></script>

</body>
</html>
